/* CSS variables */
:root {
    
}

* {
    margin: 0;
    /* text-align: center; */
}

body {
    font-family: 'Voltaire', sans-serif;
}

/* Line divider */
hr {
    color: black;
    height: 5px;
    background-color: black;
    opacity: 1;
    margin: 3%;
    width: 100%;
}

img {
    padding: 0 3%;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2rem;
    padding: 0rem 1rem;
}
/* We want to hide card shadows on startup */
.card {
    width: 50%;
    /* display: none; */
}

/* This only fixes the position of the FIRST Result */
#results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instructions, #instructions1, #instructions2, #instructions3, #instructions4, #instructions5 {
    padding: 0 3%;
}
#drinkName, #drinkName1, #drinkName2, #drinkName3, #drinkName4, #drinkName5 {
    font-size: 300%;
    margin: 0 0 0 3%;
}
#ingredients, #ingredients1, #ingredients2, #ingredients3, #ingredients4, #ingredients5 {
    text-align: center;
    padding: 0 0 5% 0;
}

#product, form {
    padding: 0rem 1rem;
}
#drinkHistory ul {
    list-style-type: none;
    flex-direction: column;
}
#drinkHistory button {
    align-items: center;
    font-size: 80%;
    width: 100%;
    margin: 1%;
}

