* {
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Voltaire', sans-serif;
}

hr {
    color: black;
    height: 5px;
    background-color: black;
    opacity: 1;
    margin: 3%;
    width: 100%;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2rem;
}

/* Set aside to the left */

/* Set drinks to the right */

/* Line divider */


#drinkHistory ul {
    list-style-type: none;
    flex-direction: column;
}

#drinkHistory button {
    align-items: center;
    font-size: 80%;
    width: 100%;
    margin: 1%;
}

@media screen {
    
}

@media screen {
    
}